#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  position: relative;

  font-family: 'Raleway', sans-serif;
  color: white;
}

h1 {
  font-size: 25px;
}

/* Размытый фон с помощью псевдоэлемента */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpapers.com/images/hd/best-food-background-0neqcd9ozlv3js9y.jpg');
  background-size: cover; /* Покрытие всей области */
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(6px); /* Применение размытия */
  z-index: -1; /* Отправляем псевдоэлемент на задний план */
 
  

}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  justify-content: space-between;
}
  ul {
    margin-right: 15px;
  }

.logo {
  height: 60px;
  width: 60px;
  
}

.logo:hover {
  filter: drop-shadow(0 0 2em #d16f14aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

nav {
  position: fixed; /* Фиксируем навигацию */
  top: 0; /* Прижимаем к верхней части страницы */
  left: 0; /* Прижимаем к левому краю */
  width: 100%; /* Растягиваем на всю ширину экрана */
  height: 50px;
  background-color: #6a88c4; /* Цвет фона навигации */
  /* padding: 15px 0; Отступы сверху и снизу */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для отделения */
  z-index: 1000; /* Обеспечиваем, чтобы навигация всегда была выше остальных элементов */
  
}


/* img{
  border-radius: 10px;
  width: 200px; 
  height: 200px; 
  object-fit: cover;
}

.imageDiv {
  display: flex; /* Используем flexbox */
    /* flex-wrap: wrap; /* Позволяем карточкам переноситься на следующую строку */
    /* gap: 20px; Расстояние между карточками */
    /* justify-content: center; Выравнивание карточек по центру */
/* } */ */ */

.cardContainer {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center;
  

}

.card {

  width:240px; /* Фиксированная ширина для всех карточек */
  height: 360px;
  padding: 10px;
 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
  text-align: center; /* Центрируем текст внутри карточки */
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.6)
}

img {
  width: 100%; /* Изображение растягивается на всю ширину карточки */
    height: 200px; /* Фиксированная высота для всех изображений */
    object-fit: cover; /* Обрезка изображения без искажения */
    border-radius: 10px; /* Скругленные углы только сверху */
 
}

.card h2 {
  font-size: 15px;
  margin: 10px 0; /* Отступ сверху и снизу */
}

.card p {
  font-size: 15px;
  color: white; /* Цвет текста */
}
input,
select {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  
  
 
}

label {
  text-align: right
}

.selectContainer {
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 5px;
}

.searchInput {
  background: black;
  color: white;
  width: 500px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


